<main class="container">
    <div class="row">
      <div class="col">
        <div (click)="borrarFavorito()" *ngIf="heroeFavorito">
          <div class="card">
            <img [src]="heroeFavorito.imagen" style="width: 3rem" [alt]="'Imagen de ' + heroeFavorito.nombre"/>
            <p>{{heroeFavorito.nombre}}</p>
          </div>
        </div>
      </div>
      <div class="col-10">
        <app-home></app-home>
        <app-listado-tabla (eventoFavorito)="procesarEvento($event)"></app-listado-tabla>
        <app-listado-tarjeta></app-listado-tarjeta>
      </div>
      <div class="col"></div>
    </div>
  </main>
  