<main class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <div class="card p-3 sombra-multicolor">
                <h3 class="card-title p-2">Lista de héroes</h3>
                <div class="card-body p-2">
                    {{listadoHeroes | json}}
                </div>
                <img class="card-img-bottom" src="/assets/img/banner.jpg" alt="Banner de la tarjeta" />
            </div>
        </div>
        <div class="col"></div>
    </div>
</main>