<main class="container">
    <div class="row">
      <div class="col">
        <div (click)="borrarFavorito()" *ngIf="heroeFavorito">
          <div class="card">
            <img [src]="heroeFavorito.imagen" style="width: 3rem" [alt]="'Imagen de ' + heroeFavorito.nombre"/>
            <p>{{heroeFavorito.nombre}}</p>
          </div>
        </div>
      </div>
      <div class="col-10">
        <!--Este elemento será sustituido por Angular por el componente que defina el routing -->
        <router-outlet></router-outlet>
        
      </div>
      <div class="col"></div>
    </div>
  </main>
  